{{ 'main-product.css' | asset_url| stylesheet_tag }}
<script src="{{ 'cropper.min.js' | asset_url}}" defer="defer"></script>
<link rel="preload stylesheet" href="{{ 'cropper.min.css' | asset_url }}" as="style">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxq2cu9y7QJPxhZbg85MRqupA_MlhMBWY&callback=initAutocomplete&libraries=places&v=weekly" defer="defer"></script>

{% if product %}
    <main class="product">
        <div class="product-slideshow__wrapper">
            <div class="product-slideshow">
                {% if product.variants.size > 1 %}
                    {% for variant in product.variants %}
                        <div data-variant-id="{{ variant.id }}" class="product-slideshow__image" style="background-image: url({{ variant.image.src | image_url: width: '1000x1000' }});">
                        </div>
                    {% endfor %}
                    {% for image in product.images %}
                        {% assign image_is_variant = false %}
                        {% for variant in product.variants %}
                            {% if variant.image.src == image.src %}
                                {% assign image_is_variant = true %}
                            {% endif %}
                        {% endfor %}
                        {% unless image_is_variant %}
                            <div class="product-slideshow__image" style="background-image: url({{ image.src | image_url: width: '1000x1000' }});">
                            </div>
                        {% endunless %}
                    {% endfor %}
                {% else %}
                    {% for image in product.images %}
                        <div class="product-slideshow__image" style="background-image: url({{ image.src | image_url: width: '1000x1000' }});">
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="product-slideshow__nav">
                    {% render 'icon-arrow' %}
                    {% render 'icon-arrow' %}
                </div>
                <div class="product-slideshow__points">
                    {% for image in product.images %}
                        <div class="product-slideshow__points-element"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="product-buybox">
            <div style="padding: 0 12px;">
                <h1 class="subheading t-black t-bold m-0">{{ product.title }}</h1>
            </div>
            
            <div class="product-discount">
                <div class="product-rating__widget">
                    <ul class="rating-{{ product.id }} product-card-rating m-0">
                        <!-- <li class="product-rating-element">{% render 'icon-rating' %}</li> -->
                        <li class="product-card-rating-element">{% render 'icon-rating-empty' %}</li>
                        <li class="product-card-rating-element">{% render 'icon-rating-empty' %}</li>
                        <li class="product-card-rating-element">{% render 'icon-rating-empty' %}</li>
                        <li class="product-card-rating-element">{% render 'icon-rating-empty' %}</li>
                        <li class="product-card-rating-element">{% render 'icon-rating-empty' %}</li>
                        <li class="product-card-rating-element product-rating-label overline t-black">(0)</li>
                    </ul>
                    <div class="product-rating__widget-persons">
                        <div class="product-rating__widget-persons-images">
                            {% assign blocks = section.blocks %}
                            {% for block in blocks %}
                                {% if block.type == 'rating_block' %}
                                <img class="product-rating__widget-persons-img" src="{{ block.settings.person_image | image_url: width: '50x50' }}" alt="" width="30px" height="30px">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <span class="overline t-grey"><span id="product-rating__widget-author">Anne Rosnau</span> <span id="product-rating__widget-count1">und <span id="product-rating__widget-count">0</span> anderen Personen</span> gef채llt unsere <strong class="t-bold">{{ product.title }}</strong>.</span>
                    </div>
                </div>
    
                <script>
                    $("#judgeme-{{ product.id }} > .jdgm-widget > .jdgm-prev-badge").ready(() => {
                        // Get data-average-rating
                        var rating = $("#judgeme-{{ product.id }} > .jdgm-widget > .jdgm-prev-badge").attr("data-average-rating");
                        var count = $("#judgeme-{{ product.id }} > .jdgm-widget > .jdgm-prev-badge").attr("data-number-of-reviews");
                        var firstAuthor = $(".jdgm-rev__author").html();

                        rating = parseFloat(rating);
                        count = parseInt(count);

                        // Fill stars
                        const maxStars = 5;
                        for (let i = 0; i < maxStars; i++) {
                            if (rating >= i + 1) {
                                $(".rating-{{ product.id }} > .product-card-rating-element").eq(i).html(`{% render 'icon-rating' %}`);
                            } else if (rating >= i + 0.5) {
                                $(".rating-{{ product.id }} > .product-card-rating-element").eq(i).html(`{% render 'icon-rating-half' %}`);
                            } else {
                                $(".rating-{{ product.id }} > .product-card-rating-element").eq(i).html(`{% render 'icon-rating-empty' %}`);
                            }
                        }

                        if (count === 0) {
                            $(".product-discount").addClass('product-rating__widget-hidden');
                        }

                        if (count === 1) {
                            $("#product-rating__widget-count1").addClass('product-rating__widget-hidden');
                            $(".rating-{{ product.id }} > .product-rating-label").html("(" + count + " Bewertung)");
                        } else {
                            $(".rating-{{ product.id }} > .product-rating-label").html("(" + count + " Bewertungen)");
                        }

                        $("#product-rating__widget-count").html(count - 1);
                        $("#product-rating__widget-author").html(firstAuthor);
                    });
                </script>
                <div style="display:none" id="judgeme-{{ product.id }}">
                    <div class='jdgm-widget jdgm-preview-badge'>
                        {{ product.metafields.judgeme.badge }}
                    </div>
                </div>
            </div>
    
            <!-- Product - Form -->
            <div class="container">
            {% form 'product', product %}
                <form method="post" action="/cart/add">
                    <!-- Studio.js -->
                    <div class="product-form__custom-heading m-b-20">
                        <span class="subheading t-bold t-black">Personalisierung</span>
                        <span class="bodytext t-grey">Gestalte dein individuelles Geschenk</span>
                        <!-- Configure Message -->
                        <div class="product-form__configure-msg">
                            <span class="overline t-black"><strong class="t-bold">Wichtig:</strong> Bitte f체lle das <strong class="t-bold">Personalisierungsformular</strong> aus und schaue dir deine Personalisierung in unserer Vorschau an. Danach kannst du das Produkt in den Warenkorb packen.</span>
                        </div>
                        {% for block in blocks %}
                            {% if block.type == 'event_widget' %}
                            <div class="product-form__event-widget">
                                <div class="product-form__event-widget-icon">{% render 'icon-calendar' %}</div>
                                <span class="caption t-grey">Kommt <span id="before-after" data-event-date="{{ block.settings.event_date }}">nach</span> <strong class="t-bold">{{ block.settings.event_title }}</strong> an.</span>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if product.variants.size > 1 %}
                        <div>{% render 'main-product-variants' product: product %}</div>
                    {% endif %}
                    <div id="poster-options"></div>
                    <img
                    id="poster-preview-mobile"
                    class="desktopHide"
                    width="100%" height="auto"
                    style="
                        height: auto;
                        width: 100%;
                        border:  0px;
                        object-fit: contain;
                        max-height: 600px;">
                    <!-- End Studio.js -->
                    
                    <!-- Hidden Part-->
                    <input id="variant-storage" type="hidden" name="id" value="{{ product.variants.first.id }}"/>
                    <input min="1" type="number" id="quantity" name="quantity" value="1" class="hidden"/>
                    <!-- Hidden Part-->
    
                    <input style="display: none;" type="submit" value="In den Warenkorb" data-tag="sale" class="submit-btn submit-btn__collapsed hidden t-white btntext bg-darkgreen"/>
                    <div class="product-form__success product-form__success-collapsed">
                        <span>{% render 'icon-success' %}</span>
                        <span class="caption">Produkt ist im Warenkorb - Nun kannst du <a class="links t-bold t-underline t-black" href="/products">alle Produkte</a> in den Warenkorb packen und dein Fr체hst체cksbrettchen ist gratis.</span>
                    </div>
                    <div class="product-form__error product-form__error-collapsed">
                        <span>{% render 'icon-error' %}</span>
                        <span class="caption">Es fehlen noch Optionen</span>
                    </div>
            </form>
            {% endform %}
            <!-- End Product - Form -->
            <div class="product-benefits">
                <div class="product-benefits__element">
                    {% render 'icon-verified' %}
                    {% assign product_price = product.price %}
                    {% assign until_free_shipping = 5000 |  minus: product_price %}
                    {% if product_price < 5000 %}
                        <span class="caption t-black">Noch {{ until_free_shipping | money }} bis zum <strong class="t-bold">kostenlosen</strong> Versand</span>
                    {% else %}
                        <span class="caption t-black">Kostenloser Versand erreicht</span>
                    {% endif %}
                </div>
                <div class="product-benefits__element">
                    {% render 'icon-verified' %}
                    <span class="caption t-black"><strong class="t-bold">Lieferzeit</strong> In 2-3 Tagen bei dir</span>
                </div>
                <div class="product-benefits__element">
                    {% render 'icon-verified' %}
                    <span class="caption t-black">Von Hand <strong class="t-bold">veredelt</strong></span>
                </div>
                <div class="product-benefits__element">
                    {% render 'icon-verified' %}
                    <span class="caption t-black t-bold">Nachhaltig</span>
                </div>
            </div>
            <div class="product-payments">
                {% render 'icon-payments' %}
            </div>
            <div class="product-description">
                <h3 class="subheading t-black">Produktdetails</h3>
                {{ product.description }}
            </div>
        </div>
    </div>    
</main>

<script src="{{ 'studio.js' | asset_url }}"></script>
<script src="{{ 'main-product-form.js' | asset_url }}" defer></script>
<script src="{{ 'main-product-form-actions.js' | asset_url }}" defer></script>
<script src="{{ 'main-product.js' | asset_url }}" defer></script>

<script>
    product = {{ product | json }};
    currentVariant = {{ product.selected_or_first_available_variant | json }};

    var selectCallback = function(variant, selector) {
        variationChange(variant.sku);

        //fire custom Event that variant changed
        var event = new CustomEvent('variantChanged', { detail: variant });
        document.dispatchEvent(event);
        
        currentVariant = variant;
    }

    //on add to cart button click #addToCartButton
    $(document).on("click", "#addToCartButton", function() {
    console.log("addToCartButton clicked")
    if(!$("#addToCartButton").attr("aria-disabled")) variationChange()
    });

    $(document).on("loading", function() {
    $("#addToCartButton").attr("aria-disabled", "true");
    });
    $(document).on("loadingEnd", function() {
    if(currentVariant.available) {
        $("#addToCartButton").removeAttr("aria-disabled");
    }
    });

    $("#product-select").ready(() => {
    variationChange('{{ product.selected_or_first_available_variant.sku }}');
    })

    new Shopify.OptionSelectors('product-select', {
        product: {{ product | json }},
        onVariantSelected: selectCallback,
        enableHistoryState: true
    });

    //on document event loading
</script>

<style >
/* HTML: <div class="loader"></div> */
.loader {
    width: 65px;
    aspect-ratio: 1;
    --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#fff calc(100% - 3px) 98%,#0000 101%) no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    display: block !important;
    animation: l10 1.5s infinite;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
    width: 65px;
    position: absolute;
}
.lds-ripple {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    left: 0;
    background: #00000042;
    top: 0;
}

@keyframes l10 {
0% {
    background-position: 0 0, 0 100%, 100% 100%;
}
25% {
    background-position: 100% 0, 0 100%, 100% 100%;
}
50% {
    background-position: 100% 0, 0 0, 100% 100%;
}
75% {
    background-position: 100% 0, 0 0, 0 100%;
}
100% {
    background-position: 100% 100%, 0 0, 0 100%;
}
}

</style>
{% endif %}

{% schema %}
{
    "name": "Main Product",
    "settings": [],
    "blocks": [
        {
            "type": "rating_block",
            "name": "Rating Block",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "person_image",
                    "label": "Upload Persons Image"
                }
            ]
        },
        {
            "type": "event_widget",
            "name": "Event Widget",
            "settings": [
                {
                    "type": "text",
                    "id": "event_title",
                    "label": "Event Titel"
                },
                {
                    "type": "text",
                    "id": "event_date",
                    "label": "Event Datum (Datum muss in DD/MM/YYYY angegeben werden!)"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Main Product",
            "settings": {}
        }
    ]
}
{% endschema %}